@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:600);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);

/* Genel */
body {
    background-image: url('images/arkaplan.png');
    background-repeat: repeat;
}

.container-fluid{ max-width:1008px; margin: 0 auto;}
.container{ max-width:1008px; margin: 0 auto;}

/* Navbar */
.navbar-default{ margin-left: 0px; padding-left: 0px; background: #333;}
.navbar-default .navbar-nav >li>a {font-family: 'Josefin Sans', sans-serif; background-color:#333; color:#FFF; font-size:14px; border-bottom: solid 2px #900;}
.navbar-default .navbar-nav >li>a:hover{color:#FFF;}
.navbar-default .navbar-nav li:hover{background-color:#999;}

/* Aside */
.panel-default{border-radius:0px; }
.panel-default .panel-heading{ background-color:#333; color:#FFF; border-radius:0px; font-family: 'Bree Serif', sans-serif; font-size:14px;}

/* Footer */
footer {background-color:#333; color:#FFF;}
.sosyal{margin-bottom: 5px; margin-right: 1px; opacity: 1;}
.sosyal:hover{opacity: 0.7;}
.fbaslik{font-family: 'Bree Serif', sans-serif; font-size:14px;}
.altmenu {list-style-type: none; margin: 0 auto; padding: 0px;}
.altmenu >li>a{font-family: sans-serif; color:#FFF; font-size:12px; text-decoration: none;}
.altmenu >li>a:hover{color: olive; transition-duration:0.5s;}
.cizgi {border-bottom: 2px solid #ffffff; margin-bottom: 15px; margin-top: 8px;}
.altyazi {font-family: sans-serif; font-size: 12px; color: #FFF; }
.copy {font-family: sans-serif; font-size: 10px; color: #999;}

/* İçerik */
.widget.single-news {
    margin-bottom: 20px;
    position: relative;
    
}

.widget.single-news .image img {
    display: block;
    width: 100%;
    min-height: 200px;
}

.widget.single-news .image .gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0d…IxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjbGVzc2hhdC1nZW5lcmF0ZWQpIiAvPjwvc3ZnPg==);
    background-image: -webkit-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -moz-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: -o-linear-gradient(bottom, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
    background-image: linear-gradient(to top, #000000 0%, rgba(0, 0, 0, 0.05) 100%);
}

.widget.single-news .details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 20px;
}

.widget.single-news .details .category {
    font-size: 11px;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.widget.single-news .details .category a {
    color: #fff;
    zoom: 1;
    -webkit-opacity: 0.5;
    -moz-opacity: 0.5;
    opacity: 0.5;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    filter: alpha(opacity=50);
}

.widget.single-news .details h3 {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    font-size: 19px;
}

.widget.single-news .details h3 a {
    color: #fff;
    zoom: 1;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 0.8;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: alpha(opacity=80);
}

.widget.single-news .details:hover time {
    position: relative;
    display: block;
    color: #fff;
    font-size: 13px;
    margin-bottom: -20px;
    -webkit-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 350ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    zoom: 1;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
}